.profile {
  background-color: #b7e6b2f3;
  height: 650px;
}
.title {
  display: inline;
  border-bottom: 3px solid #08a569;
}
/*profile picture */
.tone {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 150px;
}
/* about me */
#About {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: snow;
}
/*projects*/
#projects {
  padding-top: 60px;
  background-color: #b7e6b2f3;
}
/*kontak*/
#contact {
  padding-top: 60px;
  background-color: snow;
  padding-bottom: 50px;
}
/*send*/
#btn {
  margin: auto;
  display: block;
  text-align: center;
}
/*footer*/
#footer {
  padding-top: 3%;
  margin-bottom: 0%;
  position: static;
  padding-bottom: 3%;
}
