.profile {
  background-color: #b7e6b2f3;
  height: 700px;
}
.title {
  display: inline;
  border-bottom: 3px solid #08a569;
}
/*profile picture */
.tone {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 100px;
}
/* about me */
#About {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: snow;
}
/*projects*/
#projects {
  padding-top: 60px;
  background-color: #b7e6b2f3;
}
/*kontak*/
#contact {
  padding-top: 30px;
  background-color: snow;
  padding-bottom: 50px;
}
/*send*/
#btn {
  float: right;
  text-align: center;
  width: 200px;
}
/*footer*/
#footer {
  padding-top: 2%;
  margin-bottom: 0%;
  position: static;
  padding-bottom: 1%;
}
/*to the top button */
.scrollup {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 30px;
  right: 15px;
  display: none;
}
